.cell-content2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cdf1cb;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.off-shift{
  background-color: white!important;
}
.cell-content2.active {
  border: 2px solid red;
}
.cell-extra-hour {
  color: #135336;
  background: #aceccf;
  border: 1px solid #135336;
}
.is-explain {
  box-shadow: 0px 1px 3px rgba(32, 34, 35, 0.1),
    0px 1px 2px rgba(32, 34, 35, 0.06) !important;
  border-radius: 2px !important;
}
.is-explain-true,.approval_hour-1 {
  background: #fdfdfd !important;
  border: 1px solid #be9274 !important;
  color: #be9274 !important;
}
.is-explain-false,.approval_hour-2 {
  background: #aceccf !important;
  border: 1px solid #135336 !important;
  color: #135336 !important;
}
.table-wrapper{
  overflow-x: auto;
  width: 100%;
}
.ant-card-body{
  padding:12px!important;
}
